#floater-menu {
  position: absolute;
  width: 15rem;
  height: auto;
  padding: 1em;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 8px;
  transform: translate(10%, 100%);
  box-shadow: 0 4px 8px var(--shadow-color);
  z-index: 1000;
}

#floater-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
