#photo-layout {
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: flex-start;
  padding: 1rem 3rem;
}

.photo {
  flex: 1 1 calc((100% - 2 * 3rem) / 3);
  max-width: calc((100% - 2 * 3rem) / 3);
  border: 3px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--shadow-color);
  background-color: var(--background-color);
  padding: 1rem;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.photo:hover {
  background-color: var(--background-light);
  box-shadow: 0 4px 8px var(--shadow-color);
}

.photo img {
  width: 100%;
  height: auto;
  margin: 1em 0;
  border-radius: 10px;
}
